﻿
<div class="row">
    <article class="col-sm-12 col-md-12 col-lg-3 sortable-grid ui-sortable" id="CreatePartial" style="display:none;"></article>

    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
            <header role="heading">
                <h2><i class="fa fa- fa-newspaper-o"></i> Listado de Departamentos </h2>
                <div class="widget-toolbar" role="menu">
                    <a class="btn btn-warning js-create-departamentos">  Crear Departamento</a>
                </div>
            </header>

            <!-- widget div-->
            <div role="content">
                <!-- widget content -->
                <div class="widget-body no-padding">

                    <table class="table table-responsive table-bordered table-striped" id="dtDepartamentos" width="100%">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nombre</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>


            </div>

        </div>

    </article>

</div>

<div class="modal bounceInDown animated" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-body" id="modalBody">
            <div class="form-group">

            </div>
        </div>
    </div>
</div>

@section pagespecific {

    <script>

        var dtDepartamentos;

        $(document).ready(function () {

            dtDepartamentos = $('#dtDepartamentos').DataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "DisplayStart": 1,
                "processing": true,
                "stateSave": true,
                "ajax": {
                    url: '@Url.Action("GetDepartamentos", "Configuraciones")',
                    "type": "GET",
                    "datatype": "json",
                    "async": false,
                    "error": function (xhr, status, error) { }
                },
                "columns": [

                    { "data": "idDepartamentos", "autoWidth": true },
                    { "data": "descripcion", "autoWidth": true },
                    {
                        "data": null,
                        "render": function (data, type, row) {

                            return '<div class="btn-group">' +
                                '<button type="button" class="btn btn-link dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                                'Acciones  <span class="caret"></span>' +
                                '</button>' +
                                '<ul class="dropdown-menu">' +
                                '<li><a href="#"class="js-editar" data-iddepartamento=' + row.idDepartamentos+'>Editar</a></li>' +
                                '</ul>' +
                                '</div>';
                        }
                    }
                ],
                "language": {
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    },
                    "info": "Pagina _PAGE_ de _PAGES_ de _TOTAL_ Registros"
                },
                "pageLength": 35
            });

        });


        $(document).on('click', '.js-create-departamentos', function () {
            $.ajax({
            url: '@Url.Action("CrearDepartamentos", "Configuraciones")',
            type: "get",
            success: function (data) {

                $("#modalBody").html(data);
                $('#myModal').modal({ backdrop: 'static', keyboard: false })
                $("#myModal").modal("show");
                
                }
            });
        });

        $(document).on('click', '.js-editar', function () {

            var iddepartamento = $(this).data('iddepartamento');

            $.ajax({
            url: '@Url.Action("EditarDepartamentos", "Configuraciones")',
                type: "get",
                data: { idDepartamento: iddepartamento },
                success: function (data) {
                    $("#modalBody").html(data);
                    $('#myModal').modal({ backdrop: 'static', keyboard: false })
                    $("#myModal").modal("show");
                }
            });

            

        });


    </script>

}
