﻿@model SmartAdminMvc.Models.Configuraciones.DepartamentosViewModel


<div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
    <header role="heading">
        <h2><i class="fa fa- fa-newspaper-o"></i> Crear Departamento </h2>
    </header>


    <div role="content">
        <div class="widget-body">

            <form id="frmDepartamento" method="post">

                <div class="form-horizontal">

                    <div class="form-group" hidden>
                        <label class="col-lg-12">Id</label>
                        @*<label class="col-lg-12">Nombre: </label>*@
                        <div class="col-lg-12">
                            @Html.EditorFor(model => model.idDepartamentos, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-12">Nombre</label>
                        @*<label class="col-lg-12">Nombre: </label>*@
                        <div class="col-lg-12">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="widget-footer">
                        <button type='button' class='btn btn-danger' data-dismiss='modal'> Cerrar</button>
                        <button type="submit" class="btn btn-success"> Crear</button>
                    </div>

                </div>
            </form>

        </div>


    </div>

</div>

<style>

    .invalid {
        color: #a94442;
        /*margin-left: 12px;*/
    }
</style>

<script>

    $(document).ready(function () {

        $('#frmDepartamento').validate({
            ignore: [],
            rules: {
                descripcion: {
                    required: true
                }
            },
            messages: {
                descripcion: {
                    required: "Nombre del departamento requerido"
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    url: "@Url.Action("EditarDepartamentos", "Configuraciones")",
                    type: "post",
                    dataType: "JSON",
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.ok == true) {
                            exito("Advertencia","Departamento editado Exitosamente!");
                            $("#myModal").modal("hide");
                            dtDepartamentos.ajax.reload(null, false);
                        }
                        else {
                            fallo("Advertencia", "Error al tratar editar el Departamento!");
                        }
                    }
                });
            }
        })

    })

</script>

